In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School","Wright High School"]

In [ ]:
#for school in high_schools:
#    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
# high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [ ]:
#for school_types in high_school_types:
#     print(school_types)

In [ ]:
# List of high schools
#high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Add the pandas dependency
#import pandas as pd

In [ ]:
# Create a Pandas Series from a list.

#school_series = pd.Series(high_schools)

#school_series

In [ ]:
# NEXT PRACTICE

In [ ]:
# Add the pandas dependency
import pandas as pd

In [ ]:
# Creating A dictionary of high schools
#high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
#school_df = pd.DataFrame(high_school_dicts)
#school_df

In [ ]:
##NEW PRACTICE

In [16]:
# Add the pandas dependency
import pandas as pd

In [17]:
# Adding three separate lists of information to a dataframe

#school_id = [0, 1, 2, 3, 4]

#school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

#type_of_school = ["District", "District", "Charter", "District","Charter"]

In [18]:
#school_df = pd.DataFrame({
          "School ID" : [0, 1, 2, 3, 4],
          "school Name" : ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School"],
"Type" : ["District", "District"," Charter", "District","Charter"]
})

#school_df

   School ID            school Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [ ]:
NEW Practice doing he above prctice using Python dictionaries

In [27]:
# Add the pandas dependency
import pandas as pd

In [31]:
# Adding three separate lists of information to a dataframe

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
high_schools_dict = {'School ID': school_id, 'School Name':school_name, 'Type':type_of_school}

In [33]:
school_df = pd.DataFrame(high_schools_dict)

school_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
school_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [35]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)